html{
  scroll-behavior:smooth;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Poppins, sans-serif;
}

body{
  background:#0f0f0f;
  color:white;
  overflow-x:hidden;
}

img{
  max-width:100%;
  height:auto;
  display:block;
}

/* BUTTON */
.btn{
  background:#ff2a2a;
  padding:10px 20px;
  color:white;
  text-decoration:none;
  border-radius:5px;
}

.btn-outline{
  display:inline-block;
  border:1px solid white;
  padding:10px 20px;
  color:white;
  border-radius:5px;
  background:rgba(255,255,255,0.1);
}

.btn-order{
  display:inline-block;
  background:#ff2a2a;
  padding:12px 28px;
  border-radius:8px;
  font-weight:600;
  box-shadow:0 5px 20px rgba(255,42,42,0.4);
}

/* HERO */
.hero{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:40px;
  padding:80px;
}

.hero-text h1{
  font-size:60px;
}

.hero-img img{
  max-width:500px;
}

/* FEATURES */
.features{
  text-align:center;
  padding:80px;
}

.feature-container{
  display:flex;
  justify-content:center;
  gap:30px;
  margin-top:40px;
  flex-wrap:wrap;
}

.feature{
  background:#1a1a1a;
  padding:30px;
  border-radius:10px;
  width:200px;
}

/* SIGNATURE */
.signature{
  padding:80px;
  text-align:center;
}

.signature-container{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:60px;
}

.signature-img img{
  max-width:400px;
  border-radius:20px;
}

.signature-text{
  max-width:400px;
  text-align:left;
}

/* CTA */
.cta{
  text-align:center;
  padding:80px;
  background:#2a0000;
}

/* FOOTER */
footer{
  text-align:center;
  padding:20px;
  background:#000;
}

/* ================= MOBILE ================= */
@media (max-width:768px){

  .hero{
    flex-direction:column-reverse; /* gambar di atas */
    text-align:center;
    padding:50px 20px;
  }

  .hero-text h1{
    font-size:34px;
  }

  .hero-img img{
    width:80%;
    margin:auto;
  }

  .feature{
    width:100%;
    max-width:300px;
  }

  .signature-container{
    flex-direction:column; /* gambar atas, teks bawah */
    text-align:center;
  }

  .signature-text{
    text-align:center;
  }

  .signature-img img{
    max-width:300px;
  }

  .features,
  .signature,
  .cta{
    padding:50px 20px;
  }
}
